@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
:root {
    --primary: #2F6CB4;
    --secondary: #FDDC00;
    --text: #020817;
    --border: #c4c4c4;
    --accent: #e10000;
    --background-white: #FFFFFF;
    --background-gray:#F8F8F8;
    --border-radius: 10px;
    --bg-dark: #1C2930;
    --note: #64748B;
    --light-blue: #DBF0FF;
    --white: #FFFFFF;
}

h1 {
    font-family: "Playfair Display", "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 3.5rem;
}
h2 {
    font-family: "Playfair Display", "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 2.5rem;
}
h3 {
    font-family: "Playfair Display", "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 2.25rem;
}
h4 {
    font-family: "Playfair Display", "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.75rem;
}
h5 {
    font-family: "Nunito", "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
}
h6 {
    font-family: "Nunito", "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.05rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", "Roboto", sans-serif;
    font-size: 16px;
}
p, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", "Roboto", sans-serif;
    font-size: 16px;
    color: var(--text);
}
ul {
    list-style: none;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--text);
}
a:hover {
    text-decoration: none;
    color: var(--primary);
}
hr {
    color: var(--border);
}
.icon {
    color: var(--primary);
}
.highlight {
    font-family: "Nunito", "Roboto", sans-serif;
    font-style: normal;
    font-size: 1.25rem;
    font-weight: 700;
}
.accent {
    font-weight: 700;
}
.note {
    font-family: "Nunito", "Roboto", sans-serif;
    font-style: normal;
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
}
.note-light {
    color: var(--note);
}
.danger {
    color: var(--accent);
}
.link {
    color: var(--primary);
}

/*Gap*/
.column-gap-1 {
    column-gap: .25rem;
}
.column-gap-2 {
    column-gap: .5rem;
}
.column-gap-3 {
    column-gap: .75rem;
}
.column-gap-4 {
    column-gap: 1rem;
}
.column-gap-5 {
    column-gap: 2rem;
}
.column-gap-6 {
    column-gap: 3rem;
}
.column-gap-7 {
    column-gap: 4rem;
}
.column-gap-8 {
    column-gap: 5rem;
}
.row-gap-1 {
    row-gap: .25rem;
}
.row-gap-2 {
    row-gap: .5rem;
}
.row-gap-3 {
    row-gap: .75rem;
}
.row-gap-4 {
    row-gap: 1rem;
}
.row-gap-5 {
    row-gap: 2rem;
}
.row-gap-6 {
    row-gap: 3rem;
}
.row-gap-7 {
    row-gap: 4rem;
}
.row-gap-8 {
    row-gap: 5rem;
}

/*Hinh anh*/
.object-fit-cover {
    object-fit: cover;
}

/*Button*/
.button-primary {
    border-radius: var(--border-radius);
    color: white;
    background-color: var(--primary);
    border: 0px;
    transition: all .3s ease;
    outline: none;
}
.button-primary i.icon {
    color: var(--white);
}
.button-primary:hover {
    color: var(--primary);
    background-color: var(--light-blue);
    border: 1px solid;
}
.button-primary:hover i.icon {
    color: var(--primary);
}
.button-secondary {
    border-radius: var(--border-radius);
    color: white;
    background-color: var(--secondary);
    border: 0px;
    transition: all .3s ease;
    outline: none;
}
.button-secondary:hover {
    background-color: var(--primary);
}
.button-light-background {
    border-radius: var(--border-radius);
    color: var(--primary);
    background-color: var(--light-blue);
    border: 1px solid;
    transition: all .3s ease;
    outline: none;
}
.button-light-background i.icon {
    color: var(--primary);
}
.button-light-background:hover {
    border-radius: var(--border-radius);
    color: white;
    background-color: var(--primary);
    border: 0px;
    transition: all .3s ease;
}
.button-light-background:hover i.icon {
    color: var(--white);
}
.button-destructive {
    border-radius: var(--border-radius);
    color: white;
    background-color: var(--accent);
    border: 0px;
    transition: all .3s ease;
}
.button-destructive:hover {
    color: var(--border);
}
.button-none {
    border: 0px;
    background-color: unset;
}

/*Border*/
.border-round {
    border: 1px solid var(--border);
    border-radius: 10px;
    outline: none;
}
.border-normal {
    border: 1px solid var(--border);
    border-radius: 5px;
    outline: none;
}
.border-accent {
    border: 1px solid var(--primary);
    border-radius: 10px;
}
.outline-none {
    outline: none;
}
hr {
    color: var(--border)!important;
    border-top: 1px solid var(--border);
}
.border-none {
    border: 0px solid;
}

/*Background*/
.background-white {
    background-color: var(--background-white);
}
.background-gray {
    background-color: var(--background-gray);
}

/*Footer*/
footer {
    background-color: var(--bg-dark);
}
footer * {
    color: white;
}
footer a {
    color: var(--border);
}
footer .logo img {
    width: 300px;
}
footer .other-icon img {
    height: 50px;
    object-fit: cover;
}
footer .subscribe button {
    border-radius: 5px;
}

/*CHUNG*/
.title-page {
    color: var(--primary);
}
.container {
    max-width: 1300px;
}
.pagination a, .pagination .number {
    color: var(--text);
}
.pagination a:hover {
    color: var(--primary);
}
.pagination-admin .accent .pagination .accent {
    font-weight: 700;
}
.taskbar {
    background-color: var(--primary);
}
.taskbar .icon, .taskbar a {
    color: var(--white);
}
.taskbar .button-none {
    color: var(--white);
}
/*Home*/
.index .tour-noi-bat .tour-container .tour-item {
    padding: 0px;
}
.index .tour-noi-bat .tour-container .tour-item img, img.tour-img.w-100.object-fit-cover {
    height: 200px;
    min-height: 200px;
    border-radius: var(--border-radius);
}
.index .tour-noi-bat .tour-container .tour-item .tour-price {
    color: var(--accent);
}

.index .post .post-content .post-column-1 {
    padding: 0px;
}
.index .post .post-content .post-column-1 .post-img {
    height: 520px;
    min-height: 520px;
    border-radius: var(--border-radius);
}
.index .post .post-content .post-column-2 .post-img {
    width: 300px;
    min-width: 300px;
    border-radius: var(--border-radius);
}

.index .our-customer .logo-customer img {
    height: 80px;
    width: auto;
    object-fit: cover;
}

/*Tour*/
.tour .result .result-content .tour-img {
    min-height: 300px;
    height: 300px;
    width: 400px;
    border-radius: var(--border-radius);
}
.tour .result .result-content .tour-content .tour-price {
    font-size: 2rem;
    color: var(--accent);
}

/*Tin tuc*/
.tin-tuc .post .post-img {
    min-height: 300px;
    height: 300px;
    width: 100%;
    border-radius: var(--border-radius);
}
.tin-tuc .post .post-content {
    min-height: 240px;
}

/*Bai viet*/
.single-post .other-posts .post-img {
    height: 200px;
    min-height: 200px;
    border-radius: var(--border-radius);
}
.single-post .single-post-content .post-img {
    border-radius: var(--border-radius);
}

/*Lien-he*/
.lien-he .post-img {
    height: 400px;
    min-height: 400px;
    object-position: left;
    border-radius: var(--border-radius);
}

/*Single tour*/
.single-tour .gallery-img-tour {
    border-radius: var(--border-radius);
    height: 150px;
    min-height: 150px;
}
.single-tour .img-tour {
    border-radius: var(--border-radius);
    height: 400px;
    min-height: 400px;
    width: 100%;
}
.single-tour .price-tour {
    font-size: 1.8rem;
    color: var(--accent);
    font-weight: 700;
}
.single-tour .dvt {
    font-size: 1.2rem;
    font-weight: 700;
}
.single-tour .price-other-tour {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--accent);
}

/*Login - Register*/
.login .login-content, .register .register-content {
    width: 500px;
}
.login .login-content .note a, .register .register-content .note a {
    color: var(--primary);
}

/*Admin*/
.admin .sidebar {
    min-height: 100vh;
}
.admin .sidebar .sub-menu .list-group-item {
    margin: 5px 0px 0px 5px;
}
.admin .sidebar .menu-toggle {
    text-transform: uppercase;
}
.admin-tour td, .admin-tour a.accent.link, .admin-post td, .admin-post a.accent.link {
    font-size: 0.9rem;
}
.admin-new-tour input, .admin-edit-tour input,
.admin-new-tour select, .admin-edit-tour select,
.admin-new-post input, .admin-edit-post input,
.admin-new-customer input, .admin-edit-customer input{
    border: 1px solid var(--border);
    border-radius: 5px;
    outline: none;
    padding: 0.5rem;
    width: 100%;
}
.admin-new-tour label, .admin-edit-tour label, .admin-new-tour label, .admin-edit-tour label, .admin-new-customer label, .admin-edit-customer label {
    font-weight: 700;
}
.admin-new-tour textarea, .admin-edit-tour textarea, .admin-new-post textarea, .admin-edit-post textarea, .admin-new-customer textarea, .admin-edit-customer textarea  {
    border: 1px solid var(--border);
    border-radius: 5px;
    outline: none;
    padding: 0.5rem;
    width: 100%;
    overflow-y: auto;
}
.admin-new-tour .title-tour input, .admin-edit-tour .title-tour input, .admin-new-post .title-post input, .admin-edit-post .title-post input {
    overflow-y: auto;
}
.admin-edit-tour button.delete-img:hover, .admin-edit-post button.delete-img:hover  {
    color: var(--note);
}
.admin-edit-tour #old-image, .admin-edit-post #old-image, .admin-edit-customer #old-image {
    max-width: 200px;
    max-height: 150px;
    object-fit: cover;
}