@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
:root {
    --primary: #2F6CB4;
    --secondary: #FDDC00;
    --text: #020817;
    --border: #DDDDFF;
    --accent: #e10000;
    --background-white: #FFFFFF;
    --background-gray:#F8F8F8;
    --border-radius: 10px;
    --bg-dark: #1C2930;
    --note: #64748B;
    --light-blue: #DBF0FF;
}

h1 {
    font-family: "Playfair Display", "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 3.5rem;
}
h2 {
    font-family: "Playfair Display", "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 2.5rem;
}
h3 {
    font-family: "Playfair Display", "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 2.25rem;
}
h4 {
    font-family: "Playfair Display", "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.75rem;
}
h5 {
    font-family: "Nunito", "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
}
h6 {
    font-family: "Nunito", "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.05rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", "Roboto", sans-serif;
    font-size: 16px;
}
p, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", "Roboto", sans-serif;
    font-size: 16px;
    color: var(--text);
}
ul {
    list-style: none;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--text);
}
a:hover {
    text-decoration: none;
    color: var(--primary);
}
hr {
    color: var(--border);
}
.icon {
    color: var(--primary);
}
.highlight {
    font-family: "Nunito", "Roboto", sans-serif;
    font-style: normal;
    font-size: 1.25rem;
    font-weight: 700;
}
.accent {
    font-family: "Nunito", "Roboto", sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
}
.note {
    font-family: "Nunito", "Roboto", sans-serif;
    font-style: normal;
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
}
.text-light {
    color: var(--note);
}
.danger {
    color: var(--accent);
}

/*Gap*/
.column-gap-1 {
    column-gap: .25rem;
}
.column-gap-2 {
    column-gap: .5rem;
}
.column-gap-3 {
    column-gap: .75rem;
}
.column-gap-4 {
    column-gap: 1rem;
}
.column-gap-5 {
    column-gap: 2rem;
}
.column-gap-6 {
    column-gap: 3rem;
}
.column-gap-7 {
    column-gap: 4rem;
}
.column-gap-8 {
    column-gap: 5rem;
}
.row-gap-1 {
    row-gap: .25rem;
}
.row-gap-2 {
    row-gap: .5rem;
}
.row-gap-3 {
    row-gap: .75rem;
}
.row-gap-4 {
    row-gap: 1rem;
}
.row-gap-5 {
    row-gap: 2rem;
}
.row-gap-6 {
    row-gap: 3rem;
}
.row-gap-7 {
    row-gap: 4rem;
}
.row-gap-8 {
    row-gap: 5rem;
}

/*Hinh anh*/
.object-fit-cover {
    object-fit: cover;
}

/*Button*/
.button-primary {
    border-radius: var(--border-radius);
    color: white;
    background-color: var(--primary);
    border: 0px;
    transition: all .3s ease;
    font-weight: 700;
    outline: none;
}
.button-primary:hover {
    color: var(--primary);
    background-color: var(--light-blue);
    border: 1px solid;
}
.button-secondary {
    border-radius: var(--border-radius);
    color: white;
    background-color: var(--secondary);
    border: 0px;
    transition: all .3s ease;
    font-weight: 700;
    outline: none;
}
.button-secondary:hover {
    background-color: var(--primary);
}
.button-light-background {
    border-radius: var(--border-radius);
    color: var(--primary);
    background-color: var(--light-blue);
    border: 1px solid;
    transition: all .3s ease;
    font-weight: 700;
    outline: none;
}
.button-light-background:hover {
    border-radius: var(--border-radius);
    color: white;
    background-color: var(--primary);
    border: 0px;
    transition: all .3s ease;
    font-weight: 700;
}
.button-destructive {
    border-radius: var(--border-radius);
    color: white;
    background-color: var(--accent);
    border: 0px;
    transition: all .3s ease;
    font-weight: 700;
}
.button-destructive:hover {
    color: var(--border);
}

/*Border*/
.border-round {
    border: 1px solid var(--border);
    border-radius: 10px;
    outline: none;
}
.border-normal {
    border: 1px solid var(--border);
    border-radius: 5px;
    outline: none;
}
.border-accent {
    border: 1px solid var(--primary);
    border-radius: 10px;
}
.outline-none {
    outline: none;
}
hr {
    color: var(--border)!important;
    border-top: 1px solid var(--border);
}

/*Background*/
.background-white {
    background-color: var(--background-white);
}
.background-gray {
    background-color: var(--background-gray);
}

/*Footer*/
footer {
    background-color: var(--bg-dark);
}
footer * {
    color: white;
}
footer a {
    color: var(--border);
}
footer .logo img {
    width: 300px;
}
footer .other-icon img {
    height: 50px;
    object-fit: cover;
}
footer .subscribe button {
    border-radius: 5px;
}

/*CHUNG*/
.index .title-page {
    color: var(--primary);
}
.index .container {
    max-width: 1300px;
}
/*Home*/
.index .tour-noi-bat .tour-container {
    flex-wrap: nowrap;
}
.index .tour-noi-bat .tour-container .tour-item {
    padding: 0px;
}
.index .tour-noi-bat .tour-container .tour-item .tour-img {
    height: 200px;
    min-height: 200px;
    border-radius: var(--border-radius);
}

.index .post .post-content {
    flex-wrap: nowrap;
}
.index .post .post-content .post-column-1 {
    padding: 0px;
}
.index .post .post-content .post-column-1 .post-img {
        height: 400px;
    min-height: 400px;
    border-radius: var(--border-radius);
}
.index .post .post-content .post-column-2 .post-img {
    width: 300px;
    min-width: 300px;
    border-radius: var(--border-radius);
}

.our-customer .logo-customer img {
    height: 100px;
    width: auto;
    object-fit: cover;
}